body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgb(220, 220, 207), transparent);
}

.regForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
}

.regForm > div {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
}

input[type="submit"] {
    margin-top: 5%;
    margin-bottom: 5%;
}

#myTable {
    border: 2px outset gray;
    border-radius: 10px;
    margin-top: 3%;
    background-image: linear-gradient(transparent, rgb(160, 166, 169));
    box-shadow: 2px 2px gray;
    width: 50vw;
    height: 50vh;
    display: inline-block;
    overflow-y: scroll;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: sp;
    width: 50vw;
    border: 2px outset gray;
    border-radius: 10px;
    height: auto;
    margin-top: 3%;
    background-image: linear-gradient(transparent, rgb(220, 220, 207));
    box-shadow: 2px 2px gray;
}

#output {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20vw;
    margin-bottom:4%;
}

#output > label{
    text-align: center;
    margin-bottom:2%;
}

td{
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
    width: 50vw;
}

tr:nth-child(1) {
    background-color: rgb(70, 60, 82);
    color: skyblue;
}

tr:nth-child(even) {
    background-color: rgb(238, 235, 235);
}

tr:hover {
    background-color: rgb(187, 201, 203);
}